<app-header />

<section>
    <div class="wrapper">
        <h2 class="title_test_h2">Resultado Final: {{ finalResult }}</h2>
        <p>{{ textFinal }}</p>
        <button class="finish__btn" (click)="backToHome()">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#1E3A8A" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </g>
            </svg>
            <p>Voltar para o início.</p>
        </button>

        <div class="result__image">
            <img *ngIf="photoImages" [src]="photoImages" alt="Resultado da API" />
        </div>
    </div>
</section>