<main>
    <div class="wrapper">

        <div class="agroup">
            <div class="agroup__textMain">
                <h3>•Tópico</h3>
                <h1>Como fazer uma <span class="color">PLAYLIST</span> no <span class="color">Spotify</span></h1>
                <p>Quem nunca quis montar aquela playlist com a banda favorita e deixar no repeat o dia todo? Pois é, se
                    você ainda tinha dúvida de como fazer isso, relaxa… porque agora vai ficar fácil demais.</p>
            </div>

            <div class="agroup__imgMain">
                <img src="../../../assets/img/img_hero_1.png" alt="">
            </div>
        </div>

    </div>
</main>