* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;

    @media screen and (max-width: 300px) {
        min-width: 30rem;
    }
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
}

button {
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 1.5rem;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: min(70rem, 100%);
    }

    @media screen and (min-width: 1024px) {
        width: min(130rem, 100%);
        display: grid;
    }
}

.color {
    font-weight: 900;
    color: #34D399;
}

.dark-theme {
    background-color: #0F172A;
    color: #ffffff;
}

section {
    padding-block: 10rem;
    text-align: left;
}

span {
    margin-bottom: 1rem;
}

.title_test {
    margin-block: 2rem;

    p {
        font-size: 2rem;
    }
}

form {
    label {
        font-size: 2rem;
    }
}

.feedback {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.btn_test {
    background-color: #1E3A8A;
    border-radius: 2rem;
    width: 100%;
    color: white;
    font-weight: 900;
    font-size: 2.2rem;
    padding-block: 2rem;
    margin-block: 2rem;

    @media screen and (min-width: 1024px) {
            width: 25%;
        }

}

.title_test_h2 {
    color: #1E3A8A;
    font-weight: 900;
}